x64
binpargen4_optimized_with_index_buffers
binpargen4_working_with_index_buffers
binpargen4 _mostly_working_with_index_streams
.vs  
.vscode  
*.esm* 
*.ksy 
*.pdb 
node_modules
node-pagan/build
node-pagan/build_no_conan
node-pagan/manual_build
node-pagan/.yarn
*.vcxproj.filters  
*.vcxproj.user  

extern

generators
build
build_wsl
install
.cache
